#banner{
    background-image: url(/images/banner.png);
    background-position: center;
}
#client{
    background-image: url(/images/slider-1.jpg);
    background-position: center;
    background-color: black;
}